<div class="modal-body">
<div class="container" style="width:90%">

<div ng-init="signup=false">

	<h3 ng-show="!signup">login</h3>
	<h3 ng-show="signup">signup</h3>

	<!-- show any messages that come back with authentication -->
	

	<!-- LOGIN FORM -->
<form role="form">
 <div class="form-group" ng-show="signup">
    <label >Username</label>
    <input type="email" class="form-control" ng-model="username" placeholder="Eric Cartman">
  </div>
  <div class="form-group">
    <label >Email address</label>
    <input type="email" class="form-control" ng-model="email" placeholder="cartman@stickoftruth.com">
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" ng-model="password" placeholder="They took our jobsssss">
  </div>


</form>
  <button  class="btn btn-success navbar-btn" ng-click="login_signup()" style=";background-color:#fff;color:#000"><span ng-show="!signup" >login</span><span ng-show="signup">signup</span></button>


	<hr>

	<p> <span ng-show="!signup">Need an account? </span><span ng-show="signup">Have an account? </span><a ng-click="signup=!signup" ng-show="!signup" href="">Signup</a>
	<a href="" ng-show="signup" ng-click="signup=!signup">login</a></p>

	<ul>
		<li>
			<p>
				
				The application uses geo-location that you need to enable in your browser popup to post.
			</p>
		</li>
		<li>
			<p>
				Your privacy and security are of primary concern to us.	
			</p>
		</li>		<li>
			<p>
			 	We do not track your location in any way or form and you have complete 
				control over what location you tag to the post.
				
			</p>
		</li>		
	</ul>
		
		
		
	
	

</div>

</div>
</div>