<style type="text/css">
 .modal-dialog {
  width: 900px;

}
</style>
<div class="modal-body">
<div class="container" style="width:100%">

<div>


	<!-- show any messages that come back with authentication -->
	
<div class="container" style="width:100%">
	
	

	<!-- Signup FORM -->
	<div class="col-md-6" style="border-right:solid;border-right-width:0.05em">
		<h3>signup</h3>
		<form role="form" name="signup_form" ng-submit="register(signup_form)" novalidate>
		 <div class="form-group">
		    <h5 >Username</h5>
		    <input type="text" class="form-control" ng-model="$parent.signup_username" placeholder="Eric Cartman" required>
		  </div>
		  <div class="form-group">
		    <h5 >Email address</h5>
		    <input type="email" class="form-control" name='input' ng-model="$parent.signup_email" placeholder="cartman@stickoftruth.com" required>
		   <span class="" ng-show="signup_form.input.$error.email">Invalid email!</span>
		  	
		  </div>
		  <div class="form-group">
		    <h5 >Password</h5>
		    <input type="password" class="form-control" ng-model="$parent.signup_password" placeholder="They took our jobsssss" required>
		  </div>

		  <button ng-disabled="signup_form.$invalid" type="submit" class="btn btn-success"  style="border-left-width:8px;background-color:#fff;color:#000">signup</button>

		</form>
		
	</div>

	<!-- LOGIN FORM -->
	<div class="col-md-6 ">
		<h3>login</h3>
		<form role="form" name="form" ng-submit="login_signup(form)" novalidate>
		 
		  <div class="form-group">
		    <h5 >Email address</h5>
		    <input type="email" class="form-control" name='input' ng-model="$parent.email" placeholder="cartman@stickoftruth.com" required>
		   <span class="" ng-show="form.input.$error.email">Invalid email!</span>
		  	
		  </div>
		  <div class="form-group">
		    <h5 >Password</h5>
		    <input type="password" class="form-control" ng-model="$parent.password" placeholder="They took our jobsssss" required>
		  </div>

		  <button ng-disabled="form.$invalid" type="submit" class="btn btn-success" style="border-left-width:8px;background-color:#fff;color:#000">login</button>

		</form>
		
	</div>
</div>


</div>
	<hr>

	<ul>
		<li>
			<p>
				
				The application uses geo-location that you need to enable in your browser popup to post.
			</p>
		</li>
		<li>
			<p>
				Your privacy and security are of primary concern to us.	
			</p>
		</li>		<li>
			<p>
			 	We do not track your location in any way or form and you have complete 
				control over what location you tag to the post.
				
			</p>
		</li>		
	</ul>
		

</div>
</div>