<style type="text/css">
  .modal-dialog{
    width: 800px;
  }
</style>
    
      
      <div class="modal-dialog">
  <div class="modal-body">
      	<form name="myForm">
        <div style="margin-bottom: 10px;font-family:Roboto">
        <textarea placeholder="Post your thoughts" ng-model="$parent.currMsg" class="form-control" rows="6" required></textarea>
      	</div>
      
      <!-- Url link area to send -->
      <div  style="margin-bottom: 10px">
         <input placeholder="Share a link" type="url" name="myurl" class="form-control" ng-model="$parent.msgUrl">
          <span class="error" ng-show="myForm.myurl.$error.url">Not valid url!</span>
      </div>
      </form>
       <ul class="nav nav-pills nav" style="font-size:15px" ng-if="placesList.address">
         <li>
          <a href="">
            <strong>Tag'em </strong>        
          </a>
        </li>
        <li >
          
        <a href="" style="outline:none">
           <span ng-click="question = !question;addTag(2)"  class="label label-warning"><i ng-show="question" class="fa fa-check"></i>&nbsp;question</span>
        </a>  
        </li>

        <li >
           <a href="" style="outline:none">
            <span ng-click="opinion = !opinion;addTag(4)"  class="label label-primary"><i ng-show="opinion" class="fa fa-check"></i>&nbsp;opinion</span>        
          </a> 
        </li>
       <li >
           <a href="" style="outline:none">
            <span ng-click="news = !news;addTag(1)"  class="label label-success"><i ng-show="news" class="fa fa-check"></i>&nbsp;news</span>        
          </a>
         </li>
       <li >
           <a href="" style="outline:none">
            <span ng-click="confession = !confession;addTag(3)"  class="label label-danger"><i ng-show="confession" class="fa fa-check"></i>&nbsp;confession</span>        
          </a> 
        </li>
         <li >
           <a href="" style="outline:none">
            <span ng-click="other = !other;addTag(5)"  class="label label-default"><i ng-show="other" class="fa fa-check"></i>&nbsp;other</span>        
          </a>
        </li>
     
    


      </ul>

        <ul class="nav nav-pills nav" style="font-size:15px;margin-top:20px" ng-if="placesList.address">
        <li style="clickable:true">
          <a  >
          <strong >Post to</strong>
            
          </a>
        </li>
        <li style="clickable:true">
          <a ng-click="sendMsg(1,placesList)" href="#" style="color:#e74c3c" >
            <strong>{{placesList.address.country}} </strong>
          </a>
        </li>

        <li ng-if="placesList.address.state">
          <a ng-click="sendMsg(2,placesList)" href="#" style="color:#e74c3c">
            <strong>{{placesList.address.state}}</strong>
        </li>
          </a>
        <li ng-if="placesList.address.state_district">
          <a ng-click="sendMsg(3,placesList)"  href="#" style="color:#e74c3c">
            <strong>{{placesList.address.state_district}}</strong>
          </a>
        </li>
        <li ng-if="placesList.address.county" >
          <a ng-click="sendMsg(4,placesList)"  href="#" style="color:#e74c3c">
            <strong>{{placesList.address.county}}</strong>
          </a>
        </li>
        <li ng-if="placesList.address.city">
          <a ng-click="sendMsg(5,placesList)"  href="#" style="color:#e74c3c">
            <strong>{{placesList.address.city}}</strong>
          </a>
        </li>
        <li ng-if="placesList.address.suburb">
          <a ng-click="sendMsg(6,placesList)"  href="#" style="color:#e74c3c">
            <strong>{{placesList.address.suburb}}</strong>
          </a>
        </li>
        <li ng-if="placesList.address.road">
          <a ng-click="sendMsg(7,placesList)"  href="#" style="color:#e74c3c">
            <strong>{{placesList.address.road}}</strong>
          </a>
        </li>


      </ul>


  <div class="container" style="width:100%">
    <a href="" ng-init="showdef=false" ng-click="showdef=!showdef">how does posting work ?</a>
    <p ng-show="showdef">
     Posting to a location means the post is visible in all parent hierarchies of location
    </p>
    <p ng-show="showdef">
      When you post to your city , the post is visible in the city, in the state and in the country but not in the suburb or street
      
    </p>
    <p ng-show="showdef">
      You can also tag your posts as you see fit depending on their content.
    </p>
  </div>
  

        </div>
      </div> 


