		<div ng-repeat="msg in msgs">
			<div class="myclass" >
				<style type="text/css">
					.focus{
						background-color: #000;
						color: #fff;
					}
				</style>
					<h6 style="display:inline-block">
						  <span>{{msg.country}}</span>  <span ng-if="msg.state != 'unavailable'">.&nbsp;{{msg.state}}</span>  <span ng-if="msg.county">.&nbsp;{{msg.county}}</span><span ng-if="msg.suburb">.&nbsp;{{msg.suburb}}</span> <span ng-if="msg.city != 'unavailable'">.&nbsp;{{msg.city}}</span>  <span ng-if="msg.road">.{{msg.road}}&nbsp;</span> 
						

					</h6>
					<div ng-switch on="!!msg.url">
						<p ng-switch-when="false" style="ellipses:true">
							{{msg.msg|truncate:show_more(1,msg.msg)}}
							<a ng-if="msg.msg.length > 100" href="/posts/{{$index}}"  style="color:#c0392b;text-decoration:none">more</a>
						</p>
						<p ng-switch-when="true">
							 <a href={{msg.url}} style="color:#3498db;text-decoration:none">{{msg.msg}}</a>
						</p>
					</div>

					<div style="display:inline">
						<h5 style="display:inline">
							<i  class="glyphicon glyphicon-heart"></i> 
							&nbsp;{{msg.likes}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					</h5>

						
	 					<h4 style="display:inline">
		 					<a href="" class="fa fa-chevron-up" ng-click="likeMsg(1,msg)" style="text-decoration:none;color:#66CC9A;outline: none;"></a>
		 					&nbsp;
		 					<a href="" class="fa fa-chevron-down" ng-click="likeMsg(2,msg)" style="text-decoration:none;color:#FF5D38;outline: none;"></a>

		 				</h4>
		 				<h6 style="display:inline">
		 					&nbsp;&nbsp;<span>{{msg.date | date:'d MMM, h:mm a'}} </span> 	
		 					 <span ng-show="msg.other === 1" style="margin:6px" class="label label-default">other</span><span class="label label-danger" ng-show="msg.breaking === 1" style="margin:6px">breaking</span><span style="margin:6px" class="label label-primary" ng-show="msg.politics === 1">politics</span><span style="margin:6px" class="label label-success" ng-show="msg.verified === 1">verified</span><span style="margin:6px" class="label label-warning" ng-show="msg.unverified === 1">unverified</span>
		 				</h6>
					

					</div>
				
				
			</div>
		</div>