<!DOCTYPE html>
<html ng-app="msgboardApp">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="lib/js/angular-route.min.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
		<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
		<link rel="stylesheet"href="//fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

		<strong><title>erthe</title></strong>

		<style>
		
			#map { margin-left: 10px; height: 200px; }

			html { height: 100% }
			body { height: 100%; margin: 0; padding: 0; background: #000; }
			
			.myclass{
				font-size: 25px;
				font-family: Roboto,sans-serif;
			    color: #fff;
			    padding-bottom: 50px;
			  	padding-left:70px; 
			  	padding-right: 10px;
			    width: 100%;
			    background: #000;
			    text-rendering: optimizelegibility;

			}
			    
			.myclass2{
				font-size: 40px;
				text-align: center;
				font-family: Roboto,sans-serif;
			    color: #000;
			    
			    width: 100%;
			    margin-left: -10px;
			    text-rendering: optimizelegibility;
			}
			
		</style>
	
	</head>

	<body   ng-controller="MsgListCtrl">

		<!-- ********************Header bar******************** -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >

			<div class="container-fluid">
				<div class="navbar-header">

					<a class="navbar-brand" href="/" style="color:#fff;font-family:Roboto;font-size:25px"><span class="label label-default" style="background-color:#222222"><i class="fa fa-globe"></i>&nbsp;&nbsp;erthe</i></span></a>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" ng-model="criteria" style="margin-top:9px" placeholder="search" >
						<button ng-click="search()" ><i class="fa fa-search"></i></button>
			        </div>
			    </form>
			        
					<ul class="nav nav-pills" style="margin-top:10px;display:inline-block"  >
					<!--<ul class="nav nav-pills nav pull-right" style="margin-top:5px"  ng-repeat="myplace in myplacesList">-->
						<li style="clickable:true" ng-repeat="myplace in myplacesList">
							<a ng-click="Viewposts($index)" href="" style="color: #36B43C;clickable:true;outline:none;font-size:13px">
						    	<strong>
						    		{{myplace}}&nbsp;<small ng-if="!$first">({{myplaceHierarchy[$index]}})</small>
						    	</strong>
							</a>
						</li>

					</ul>

					
					<button type="button" ng-click="open()" class="btn btn-danger btn-sm pull-right" style="margin:10px;outline: none;"><i class="fa fa-edit"></i>&nbsp;Post stuff</button>

				</div>
				
			</div>

		</nav>
		<!-- ********************Header bar******************** -->
		<div style="display:block;margin-top:75px" class="container-fluid">
		<div ng-if="show_searchresults">
		<ul class="list-group" style="float:left">
			<span class="label label-primary" ng-click="close_search()" style="margin:10px">cancel</i></span>
  			<li class="list-group-item" ng-click="goto_map($index)"  ng-repeat="result in searchResults" style="margin:10px;width:200px;font-family:Roboto">
    		<a href="">	{{result.display_name}}</a>
  			</li>
  					
		</ul>
		</div>
		 <div id="map" ng-show="!hideMap"></div>
		<p class="myclass2" style="color:#36B43C;align:center">{{current_place}}</p>
		<div ng-view></div>
		 </div>

		
		<div ng-show="showsuccessAlert" class="alert alert-success alert-dismissable col-lg-6 col-lg-offset-3" style="margin-top:30px">
			<button type="button" class="close" ng-click="showsuccessAlert = !showsuccessAlert" data-dismiss="alert">&times;</button>
			<strong>Posted successfully!</strong>
		</div>
		<div ng-show="showfailureAlert" class="alert alert-danger alert-dismissable col-lg-6 col-lg-offset-3" style="margin-top:30px">
			<button type="button" class="close" ng-click="showfailureAlert = !showfailureAlert" data-dismiss="alert">&times;</button>
			<strong>couldn't post!</strong> The gods are not in your favor.
		</div>

		<!-- *********************current place ****************-->
		


		
		
		
	
		<!--******************** rendering msgs from mongodb ********************-->
			
				
	</body>
</html> 