<!DOCTYPE html>
<html ng-app="msgboardApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

		
	 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="lib/js/angular-route.min.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>

		
		<!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="lib/js/angular.min.js"></script>
		<script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script> 
		<link href="lib/css/bootstrap.css" rel="stylesheet">
		-->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

		<link rel="stylesheet"href="//fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">


		<strong><title>erthe</title></strong>
		<style>
			
			#map { margin-top: 65px; height: 50%; }

			html { height: 100% }
			body { height: 100%; margin: 0; padding: 0; background: #34495e; }
			
			.myclass{

				font-size: 25px;
				font-family: Roboto,sans-serif;
			    color: #fff;
			    padding-bottom: 100px;
			  	padding-left:70px; 
			  	padding-right: 10px;
			    width: 100%;
			    background: #34495e;
			    text-rendering: optimizelegibility;
				

			}
			    
			.myclass2{

				font-size: 40px;
				text-align: center;
				font-family: Roboto,sans-serif;
			    color: #000;
			    padding: 10px 10px;
			    width: 100%;
			    margin-left: -10px;
			    text-rendering: optimizelegibility;
			}

		</style>
	
	</head>

	<body   ng-controller="MsgListCtrl">

		<!-- ********************Header bar******************** -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html" style="color:#1BB0CE;font-family:Roboto;font-size:30px">erthe</a>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" ng-model="criteria" class="form-control" placeholder="Filter posts">
			        </div>
			    </form>
			        
					<ul class="nav nav-pills" style="margin-top:5px;display:inline-block"  ng-repeat="myplace in myplacesList">
					<!--<ul class="nav nav-pills nav pull-right" style="margin-top:5px"  ng-repeat="myplace in myplacesList">-->
						<li style="clickable:true">
							<a ng-click="Viewposts($index)" href="" style="color: #36B43C;clickable:true;outline:none">
						    	<strong>
						    		{{myplace}}&nbsp;<small ng-if="!$first">({{myplaceHierarchy[$index]}})</small>
						    	</strong>
							</a>
						</li>

					</ul>

					<button type="button" ng-click="hideMap = !hideMap" ng-switch on="!hideMap" class="btn btn-danger pull-right" style="margin-top:10px;margin-right:10px"><i  ng-switch-when="true" class="fa fa-minus-square"></i><i  ng-switch-when="false" class="fa fa-plus-square"></i> </button>

				</div>
				
					
				
			</div>

					


		</nav>

		 <div id="map" ng-show="!hideMap"></div>

		<div style="display:inline">
			<ul class="nav nav-pills nav" style="font-size:15px" >
				<li style="clickable:true">
					<a ng-click="sendMsg(1,placesList)" href="#" style="color:#36B43C" >
						<strong>{{placesList.address.country}} </strong>
					</a>
				</li>

				<li>
					<a ng-click="sendMsg(2,placesList)" href="#" style="color:#36B43C">
						<strong>{{placesList.address.state}}</strong>
					</a>
				</li>
				
				<li>
					<a ng-click="sendMsg(3,placesList)" href="#" style="color:#36B43C">
						<strong>{{placesList.address.city}}</strong>
					</a>
				</li>
			<button type="button" ng-click="open()" class="btn btn-default pull-right" style="margin:10px"><i class="fa fa-edit"></i>&nbsp;Post stuff</button>
			<button type="button" ng-click="set_marker()" class="btn btn-success pull-right" style="margin:10px"><i class="fa fa-map-marker"></i> &nbsp;New hype</button>
			


			</ul>
		</div>
		<div ng-show="showsuccessAlert" class="alert alert-success alert-dismissable col-lg-6 col-lg-offset-3">
			<button type="button" class="close" ng-click="showsuccessAlert = !showsuccessAlert" data-dismiss="alert">&times;</button>
			<strong>Posted!</strong> Check if your post gains traction.
		</div>
		<div ng-show="showfailureAlert" class="alert alert-danger alert-dismissable col-lg-6 col-lg-offset-3">
			<button type="button" class="close" ng-click="showfailureAlert = !showfailureAlert" data-dismiss="alert">&times;</button>
			<strong>couldn't post!</strong> The gods are not in your favor.
		</div>

		<!-- *********************Post stuff on show ****************-->
		<div class="container">

			<p class="col-lg-3 myclass2" style="color:#36B43C">{{current_place}}</p>

			<div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 10px" >
		 		
			</div>

			<!-- Text area to send -->
			<div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 10px;font-family:Roboto" ng-show="showDetails">
				<textarea placeholder="Post your thoughts" ng-model="currMsg" class="form-control" rows="20"></textarea>
			</div>

			<!-- Url link area to send -->
			<div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 10px" ng-show="showDetails">
				 <input placeholder="Share a link" type="url" name="bday" class="form-control" ng-model="msgUrl">
			</div>

				<div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 10px;display:inline" ng-show="showDetails" >
			<ul class="nav nav-pills nav" style="font-size:15px" >
				<li style="clickable:true">
					<a ng-click="sendMsg(1,placesList);showDetails = ! showDetails" href="#" style="color:#e74c3c" >
						<strong>{{placesList.address.country}} </strong>
					</a>
				</li>

				<li>
					<a ng-click="sendMsg(2,placesList);showDetails = ! showDetails" href="#" style="color:#e74c3c">
						<strong>{{placesList.address.state}}</strong>
					</a>
				</li>
				
				<li>
					<a ng-click="sendMsg(3,placesList);showDetails = ! showDetails"  href="#" style="color:#e74c3c">
						<strong>{{placesList.address.city}}</strong>
					</a>
				</li>


			</ul>

		</div>
				
		</div>
		
		<hr style="margin-left:350px;margin-right:350px;margin-top:10px;margin-bottom:20px" />
	
		<!--******************** rendering msgs from mongodb ********************-->
		<div ng-view></div>
		




	</body>
</html> 
			
	
				
				


			
			
			

	


							

					 	

					




