<!DOCTYPE html>
<html ng-app="msgboardApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHmKT7b3WxVoXCtUJ8mfBk4NxeGrtWl7c&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src='map.js'></script>
    <script src="lib/js/angular.js"></script>
    <script src="js/controllers.js"></script>
    
    <title>ZEITGEIST</title>
    <link href="lib/css/bootstrap.css" rel="stylesheet">
    <link href="custom_style.css" rel="stylesheet">


    <style>
      
      .tabl{
        display: inline;
      }

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #googleMap { height: 50% }

      .msg {
        border-style: solid;
        border-radius: 10px;  
        border-width: 1px;
        font-size: 25px;
      }

      #submit {
        margin: 10px 0px;
      }
    </style>
  
  </head>

  <body   ng-controller="MsgListCtrl">
    <!-- Header bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Share your awesomeness bros</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <!-- Add your own pages here! -->
          </ul>
        </div>
      </div>

    </nav>



    <div class="container" style="margin-top:50px">

      
      <h1 class="col-lg-offset-1" style="color:#D43925"><strong><em> Posts from bros </em></strong></h1>
        
       <!-- Render messages retrieved from server with a simple template -->
      <ul class="list-unstyled" style="margin-top: 2px">
        <li ng-repeat="msg in msgs" class="col-lg-9 col-lg-offset-1 well well-sm">
          <h6>
            {{msg.date}}
          </h6>
          <p>
            <strong>
              <em>
                {{msg.msg}}
              </em>
            </strong>
          </p>
          <h5>
            <small>
              <em>
                <i class="glyphicon glyphicon-heart"></i> 
                &nbsp;{{msg.likes}}
               </em>
            </small>
          </h5>
          <button ng-click="likeMsg(msg)" type="button" class="btn btn-mini pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> 
          </button>
        </li>
      </ul>
      
      <!-- Sample of what you are typing -->
      <div class="col-lg-6 col-lg-offset-3 well">
        {{ currMsg }}
      </div>

      <!-- Text area to send -->
      <div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 20px">
        <textarea ng-model="currMsg" class="form-control" rows="6"></textarea>
      </div>

    </div>
    
    <div class="lead">
      <em>
         &nbsp;&nbsp;Share your awesomeness bros 
       </em>
    </div>

 <ul class="nav nav-pills nav">
  <li style="clickable:true">
    <a ng-click="Viewposts(1,placesList.address.country)" href="#" style="color: #C6AC00">
      {{placesList.address.country}} 
    </a>
  </li>

  <li>
    <a ng-click="Viewposts(2,placesList.address.state)" href="#" style="color: #CA7300">
      {{placesList.address.state}}
    </a>
  </li>
  
  <li>
    <a ng-click="Viewposts(3,placesList.address.city)" href="#" style="color: #CE3700">
      {{placesList.address.city}}
    </a>
  </li>
  
</ul>



 <ul class="nav nav-pills nav">
  <li style="clickable:true">
    <a ng-click="sendMsg(1,placesList)" href="#">
      {{placesList.address.country}} 
    </a>
  </li>

  <li>
    <a ng-click="sendMsg(2,placesList)" href="#">
      {{placesList.address.state}}
    </a>
  </li>
  
  <li>
    <a ng-click="sendMsg(3,placesList)" href="#">
      {{placesList.address.city}}
    </a>
  </li>
  
</ul>
  
    
    
    

  <div id="googleMap"/>
    
   
    
  </body>
</html> 
