 <script type="text/javascript">
		 	var lati;
		 	var longi;
		 	var map = L.map('map', {
			    center: [22.505, 85.09],
			    zoom: 3
			});
			L.tileLayer ('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
			
			//alternative cloudmate tiles 'http://{s}.tile.cloudmade.com/f74201a3d890430db0ff7b544fffc8fb/111222333/256/{z}/{x}/{y}.png'

			var popup = L.popup();

			function onMapClick(e) {
				lati = e.latlng.lat;
				longi = e.latlng.lng;
				 
				$.ajax({
					type: 'GET',
					url: 'http://nominatim.openstreetmap.org/reverse?format=json&lat='+lati+'&lon='+longi+'&zoom=18&addressdetails=1',
					dataType: 'JSON'
					}).done(function (response){
						console.log(response);
						console.log("Fuckning akdnfbadnfbadnbf");
						console.log(response.address.country);
						
						popup
					        .setLatLng(e.latlng)
					        .setContent('<ul class="nav nav-pills nav"><li><a href="/getplaceposts/1/'+response.address.country+'" style="color: #CA7300">'+response.address.country+'</a></li><li><a href="/getplaceposts/2/'+response.address.state+'" style="color: #CA7300">'+response.address.state+'</a></li><li><a href="/getplaceposts/3/'+response.address.city+'" style="color: #CA7300">'+response.address.city+'</a></li>')
					        .openOn(map);
					}
				);

				console.log("Fuckning akdnfbadnfbadnbf");
				
				console.log(e.latlng.lat);
			   
			}

			map.on('click', onMapClick);
</script>


popup
					        .setLatLng(e.latlng)
					        .setContent('<ul class="nav nav-pills nav"><li><a href="/getplaceposts/1/'+response.address.country+'" style="color: #CA7300">'+response.address.country+'</a></li><li><a href="/getplaceposts/2/'+response.address.state+'" style="color: #CA7300">'+response.address.state+'</a></li><li><a href="/getplaceposts/3/'+response.address.city+'" style="color: #CA7300">'+response.address.city+'</a></li>')
					        .openOn(map);


















		  <!-- Render messages retrieved from server with a simple template -->
			<ul class="list-unstyled" style="margin-top: 2px">
				<li class="divider"></li>
				<li ng-repeat="msg in msgs" class="col-lg-9 col-lg-offset-1">
				<small><hr style="background:#CBCFC8; border:0; height:1px" /></small>	
					<h6>
						{{msg.date}} , {{msg.country}} , {{msg.state}} , {{msg.city}}
					</h6>
					<p>
						<strong>
							<em>
							 	{{msg.msg}}
							</em>
						</strong>
					</p>

					<h5 style="display:inline">
						<small>
							
								<i style="color:#f27490" class="glyphicon glyphicon-heart"></i> 
								&nbsp;{{msg.likes}}
							
						</small>
					</h5>
					
				 	<i style="margin-left:10px" ng-click="likeMsg(1,msg)" class="glyphicon glyphicon-circle-arrow-up"></i> 
				 	<i style="margin-left:10px" class="glyphicon glyphicon-circle-arrow-down" ng-click="likeMsg(2,msg)" type="button"></i> 
				 	

				</li>
			</ul>



			<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		        	<input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn navbar-btn"><i class="glyphicon glyphicon-search"></i></button>
		    </form>


				<div style="display:inline-block;margin-right:20px">
					<div style="margin-bottom:35px"><i ng-click="likeMsg(1,msg)" class="glyphicon glyphicon-circle-arrow-up" type="button"></i> </div>
	 				<div><i class="glyphicon glyphicon-circle-arrow-down" ng-click="likeMsg(2,msg)" type="button"></i> </div>
				</div>

				<img style="padding:30px" src="http://siliconangle.com/files/2011/01/paypal-mafia-300x194.jpg">









				<!-- Sample of what you are typing -->
			<div class="col-lg-6 col-lg-offset-3 well" ng-show="showDetails">
				{{ currMsg }}
			</div>




			if(id == 1){
  	msgColl.find({ "country" : place }, { sort: {likes: -1}}).toArray(function(err, items) {
		if(err) {
			return res.send(err);
		}
		console.log(items.msg);
		console.log(items);
		res.json(items);
	});
  	} else if(id == 2){
  		msgColl.find({ "state" : place }, { sort: {likes: -1}}).toArray(function(err, items) {
		if(err) {
			return res.send(err);
		}
		console.log(items.msg);
		console.log(items);
		res.json(items);
	});
  	}else if(id == 0){
  		msgColl.find().sort({ "likes" : -1}).toArray(function(err, items) {
		if(err) {
			return res.send(err);
		}
		console.log(items.msg);
		console.log(items);
		res.json(items);
	});

  	}else {
  		msgColl.find({ "city" : place }, { sort: {likes: -1}}).toArray(function(err, items) {
		if(err) {
			return res.send(err);
		}
		res.json(items);
	});
  	}